<!doctype html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
    <style>
      .demo-card-wide.mdl-card {
        width: 512px;
      }
      .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
      }
      .demo-card-wide > .mdl-card__menu {
        color: #fff;
      }
      .util-center {
        margin: auto;
        height: 160px;
      }
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Vegeta UI</span>
          <div class="mdl-layout-spacer"></div>
          
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">Home Management</li>
            <li class="mdl-menu__item">IoT Things</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Things</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Manage</a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
          <div class="mdl-card mdl-shadow--16dp util-center util-spacing-h--40px">
            <div class="mdl-card__title mdl-color--blue-800 mdl-color-text--white">
              Create New Home
            </div>
            <div class="mdl-card__supporting_text mdl-grid">
              <form action="/home/new" method="POST">
                <input type="hidden" name="action" value="login"/>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="home_title" />
                  <label class="mdl-textfield__label" for="home_title">Title</label>
                </div>
                <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-color--blue-800 mdl-color-text--white mdl-js-ripple-effect" value="Create Home">
              </form>
            </div>
          </div>
          
        </div>
      </main>
    </div>
    <% include partials/body_scripts.ejs %>
  </body>
</html>
